body {
    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top,  #feccb1 0%, #ea5507 83%, #ea5507 100%, #f17432 100%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(83%,#ea5507), color-stop(100%,#ea5507), color-stop(100%,#f17432), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feccb1 0%,#ea5507 83%,#ea5507 100%,#f17432 100%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feccb1 0%,#ea5507 83%,#ea5507 100%,#f17432 100%,#fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feccb1 0%,#ea5507 83%,#ea5507 100%,#f17432 100%,#fb955e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feccb1 0%,#ea5507 83%,#ea5507 100%,#f17432 100%,#fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

}

.impress-enable .step{
    margin: 0;
    opacity: 0.0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: background 1s;
}

impress-enable .step.active {
    opacity: 1
}

.slide {
    display: block;
    width: 700px;
    height: 600px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgb(52,52,52);
    text-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:30px;
}

/*Styling for slide paragraphs*/
.slide p{
    margin-top:15px;
    margin-bottom:15px;
    line-height:45px;
}

/*Styling links to look like buttons*/
.slide a, .slide a:visited{
    color: #071549;
    text-decoration: none;
    background-color: #abc;
    padding:5px;
    border-radius:5px;
    border:1px solid #cde;
}

.slide a:hover, .slide a:active{
    background-color: #cde;
}

/*Styling for slide text area*/
.slide .slide-text{
    height:450px;
}

/*styling for the menu*/
div.menu{
    border-top: 2px solid black;
    padding-top:25px;
    text-align:center;
}
